@media(max-width:1080px){

    .service-block-item{ 
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

}

@media(max-width: 761px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
}

@media(min-width: 575px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
    .service-block-item{
        padding-left: 15%;
    }
}



.menu{

    transition: .5s;
    background: #111529;

}

.nav-itens{

    padding-left: 55%;

}

.nav-itens a{
    
    transition: .5s;
    text-decoration: none;
    color: #d6d6d6;
    

}

.nav-itens a:hover{

    transition: .5s;
    color: #ffffff;

}

.img-menu{

    display: block;
    width: 200px;
    height: 50px;

}

.img-carousel{

    width: 100%;
    height: 80vh;


}

.carousel-box-img{

    height: 60vh;

}

.service{

    transition: .5s;
    background: #0b1924;
    min-height: 60vh;

}

.title-service{

    color: #ffffff;

}

.service-block-item{

    justify-content: center;
    
}

.card-serv{

    height: 60vh;

}

.card-photo-box{

    background: #ffffff;

}

.card-photo{

    max-height: 32vh;

}

.card  h5{

    margin: 0 auto;
    height: 5vh;

}

.card  p{

    margin: 0 auto;
    width: 210x;
    height: 150px;

}


.banner{

    background-image: url(../img/banner-index.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 70vh;
    margin: 0;
    
}

.banner-mask{

    background: #0c0fcf50;
    min-height: 70vh;
    color: #ffffff;
}

.mask-text{

    padding-top: 8%;

}

footer{

    transition: .5s;
    margin: 0;
    background: #001525;
    color: #ffffff;

}

.footer-itens{

    margin: 0 auto;

}

footer p{

    color: #cfcfcf;

}

.footer-link a{

    text-decoration: none;
    color:#cfcfcf;
    
}

.footer-link a:hover{

    transition: .5s;
    color: #ffffff; 

}


.social img{

    margin-top: 5%;
    width: 30px;
    height: 30px;
    filter: opacity(85%);

}

.social img:hover{

    transition: .5s;
    filter: opacity(100%);
    
}

.footer-end{

    transition: .5s;
    background: #121424;

}
