.navitens{

    padding-left: 68%;

}

.img-rede{

    padding-left: 15%;

}

.service{

    background: #008cff;

    min-height: 80vh;

}

.img-banner{

    max-height: 80vh;
    width: 100%;

}

.service-block-item{

    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

.service-item{

    margin-top: 20%;

}

