.menu{

    transition: .5s;
    background: #ececec;
    color: white;

}

.nav-itens{

    display: flex;
    justify-content: flex-end;
    padding-right: 10%;

}

.nav-itens a{

    transition: .5s;
    text-decoration: none;
    color: #6e767a !important;


}

.nav-itens a:hover{

    transition: .5s;
    color: #222836 !important;

}

.btn-theme{

    border: solid 1px #2c88d3 !important;
    color: #496f92;

}

.btn-theme:hover{

    transition: .5s;
    background: #2c88d3;

}

.img-menu{

    display: block;
    width: 200px;
    height: 50px;

}

.img-carousel{

    width: 100%;
    max-height: 70vh;

}

.container-site{

    background: #e2e2e2 !important;

}

.database-cont{

    min-height: 50vh;
    background-image: url(../img/programming.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #ffffff;

}

footer{

    transition: .5s;
    margin: 0;
    background: #293d4d;
    color: #ffffff;

}

.footer-itens{

    margin: 0 auto;

}

footer p{

    color: #cfcfcf;

}

.footer-link a{

    text-decoration: none;
    color:#cfcfcf;
    
}

.footer-link a:hover{

    transition: .5s;
    color: #ffffff; 

}


.social img{

    margin-top: 5%;
    width: 30px;
    height: 30px;
    filter: opacity(85%);

}

.social img:hover{

    transition: .5s;
    filter: opacity(100%);
    
}

.footer-end{

    transition: .5s;
    background: #1d2429;

}
