@media(max-width:1080px){

    .service-block-item{ 
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

}

@media(max-width: 761px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
}

@media(min-width: 575px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
    .service-block-item{
        padding-left: 15%;
    }
}



.menu{

    background: #ececec;
    color: white;

}

.navitens{

    padding-left: 55%;

}

.img-menu{

    display: block;
    width: 200px;
    height: 50px;

}

.img-carousel{

    width: 100%;
    height: 80vh;


}

.carousel-box-img{

    height: 60vh;

}

.service{

    background: #008cff;
    min-height: 60vh;

}

.title-service{

    color: #ffffff;

}

.service-block-item{

    justify-content: center;
    
}

.card-serv{

    height: 80vh;

}

.card-photo-box{

    background: #ffffff;

}

.card-photo{

    max-height: 32vh;

}

.card  h5{

    width: 210x;
    height: 40px;

}

.card  p{

    width: 210x;
    height: 150px;

}


.banner{

    background-image: url(../img/banner-index.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 70vh;
    margin: 0;
    
}

.banner-mask{

    background: #03093d50;
    min-height: 70vh;
    color: #ffffff;
}

.mask-text{

    padding-top: 8%;

}

footer{

    margin: 0;
    background: #293d4d;
    color: #ffffff;

}

footer p{

    color: #cfcfcf;

}

.social img{

    margin-top: 5%;
    width: 30px;
    height: 30px;
    filter: opacity(85%);

}

.footer-end{

    background: #1d2429;

}
