@media(max-width:1080px){

    .service-block-item{ 
        margin-left: 0% !important;
        margin-right: 0% !important;
    }

}

@media(max-width: 991px){

    .nav-itens {

        justify-content: left !important;

    }

    .btn-theme {

        margin: 0 !important;

    }

}


@media(max-width: 761px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
}

@media(min-width: 575px){

    .card-box{ 
        margin-top: 3%; 
        width: 250px !important;
    }
    .service-block-item{
        padding-left: 15%;
    }
}



.menu{

    transition: .5s;
    background: #ececec;
    color: white;

}

.nav-itens{

   display: flex;
   justify-content: flex-end;
   padding-right: 10%;

}

.nav-itens a{

    transition: .5s;
    text-decoration: none;
    color: #6e767a !important;
    

}

.nav-itens a:hover{

    transition: .5s;
    color: #222836 !important;

}

.btn-theme{

    border: solid 1px #2c88d3 !important;
    color: #496f92;

}

.btn-theme:hover{

    transition: .5s;
    background: #2c88d3;

}

.img-menu{

    display: block;
    width: 200px;
    height: 50px;

}

.img-carousel{

    width: 100%;
    height: 80vh;


}

.carousel-box-img{

    height: 60vh;

}

.carousel-text{

    padding-bottom: 18%;

}

.carousel-text-sub{

    padding-bottom: 50%;
    padding-right: 15%;

}

.service{

    transition: .5s;
    background: #008cff;
    min-height: 60vh;

}

.title-service{

    color: #ffffff;

}

.service-block-item{

    justify-content: center;
    
}

.card-serv{

    min-height: 60vh;

}

.card-photo-box{

    background: #ffffff;

}

.card-photo{

    max-height: 32vh;

}

.card  h5{
    
    margin: 0 auto;
    height: 5vh;

}

.card  p{

    margin: 0 auto;
    width: 210x;
    height: 150px;

}


.banner{

    background-image: url(../img/banner-index.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 70vh;
    margin: 0;
    
}

.banner-mask{

    transition: .5s;
    background: #03093d50;
    min-height: 70vh;
    color: #ffffff;
}

.mask-text{

    padding-top: 8%;

}

footer{

    transition: .5s;
    margin: 0;
    background: #293d4d;
    color: #ffffff;

}

.footer-itens{

    margin: 0 auto;

}

footer p{

    color: #cfcfcf;

}

.footer-link a{

    text-decoration: none;
    color:#cfcfcf;
    
}

.footer-link a:hover{

    transition: .5s;
    color: #ffffff; 

}


.social img{

    margin-top: 5%;
    width: 30px;
    height: 30px;
    filter: opacity(85%);

}

.social img:hover{

    transition: .5s;
    filter: opacity(100%);
    
}

.footer-end{

    transition: .5s;
    background: #1d2429;

}
